# make build folder if not exist
#   "mkdir -p build; "
# start in build folder
#   "cd build; "
#
# call g++ and set output name:
#   "g++ -o project " 
#
# set include paths (.h):
#   "-I ../src "
#   "-I ../src/engine "
#
# set source paths (.cpp):
#   "../src/*.cpp "
#   "../src/engine/*.cpp "
#
# link libraries:
#   "-pthread; "
# 
# run built program:
#  "./project"

run="mkdir -p build; cd build; g++ -o project -I ../src -I ../src/engine ../src/*.cpp ../src/engine/*.cpp -pthread" # ./project"
entrypoint="src/main.cpp"